@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  /*===== Colors =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;
  
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  background: #e4f2fb;
}

a {
  text-decoration: none;
  color: #fff;
}

/*===== PLAYER =====*/
.player_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* position: relative; */
}

.bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.player {
  margin-top: 2rem auto;
  max-width: 20rem;
  height: 100vh;
  padding: 3rem 2rem;
  border: 5px solid hsla(0, 0%, 50%, 0.429);
  border-radius: 0.25rem;
  /* background-color: azure; */
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.19), 0 6px 6px -10px rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(20px);
}

/* *********** THE MUSIC PLAYER ************* */
  
.body_cover {
  position: relative;
}

.body_cover img {
  max-width: 100%;
  border-radius: 0.25rem;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body_buttons,
.body_info,
.player_footer {
  padding-right: 2rem;
  padding-left: 2rem;
}
