@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  /*===== Colors =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;
  
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff url(./assets/music.jpg) no-repeat center; 
}